<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
</head>
<body>

<div class="container mt-5">
    <h1>Iniciar Sesión</h1>

    <div th:if="${param.error}" class="alert alert-danger">
        Nombre de usuario o contraseña inválidos.
    </div>

    <form th:action="@{/login}" method="post">

        <div class="mb-3">
            <label for="username" class="form-label">Nombre de Usuario:</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Contraseña:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>

    <hr>

    <p>¿No tienes cuenta? <a th:href="@{/register}">Regístrate aquí</a></p>
</div>

</body>
</html>